<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <p>
  	<%= flash[:success] %>
  	<%= flash[:notice] %>
  </p>
  <p>
  	<strong>Title</strong>:<%= @book.title %>
  </p>
  <p>
  	<strong>Body</strong>:<%= @book.body %>
  </p>
 <div>
 	<div>
    <%= link_to "Edit", edit_book_path(@book) %>|
    <a href="/books">Back</a>
 </div>
</body>
</html>